html {
    scroll-behavior: smooth;
}

:root {
    --color-principal: #3A86FF;
    --color-secundario: #00BFA6;
    --color-fondo: #0f172a;
    --color-panel: #1e293b;
    --color-texto: #E2E8F0;

}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background-color: #121212;
    color: #EAEAEA;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: linear-gradient(120deg,var(--color-principal), var(--color-secundario), var(--color-principal));
    background-size: 400% 400%;
    animation: fondoAnimado 10s ease infinite;
    color: #EAEAEA;
    text-align: center;
    padding: 60px 20px;
}

@keyframes fondoAnimado {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #0f172a;
    padding: 10px 0;
}
nav a {
    color: #3A86FF;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}


nav a:hover {
    text-decoration: underline;
    color: #00BFA6;
    transform: scale(1.05);
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: 60px auto;
    background: #1e1e2f;
    color: #EAEAEA;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.sobre-mi-contenido {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.mi-foto {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--color-principal);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.mi-texto {
    flex: 1;
}

.proyecto {
    background: #29293d;
    border-left: 4px solid var(--color-principal);
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.proyecto:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.4);
}

.imagen-proyecto {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    object-fit: cover;
}

footer {
    text-align: center;
    background: #1a1a2e;
    color: #EAEAEA;
    padding: 15px 0;
    font-size: 0.9em;
    margin-top: 40px;
}

a {
    color:#3A86FF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    word-break: break-all;
}

a:hover {
    color:#00BFA6;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .sobre-mi-contenido {
        flex-direction: column;
        text-align: center;
    }
    .mi-foto {
        margin-bottom: 20px;
    }
    nav a {
        font-size: 0.9em;
    }
    section {
        margin: 30px 10px;
        padding: 40px 15 px;
    }
}